body {
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Bootstrap containers */
/* https://github.com/twbs/bootstrap/blob/master/dist/css/bootstrap.css */ 
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
      max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
      width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
      width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
      width: 1170px;
  }
}  
@media (min-width: 1400px) {
  .container {
      max-width: 1320px;
  }
}